*
{
    margin: 0;
    padding: 0;
}
header , nav, nav a{
    background-color: black;
    color: white;
}
nav{
    padding-top: 20px;
}
a{
    border-right: 2px solid black ;
    padding-left: 10px;
    padding-right: 10px;
}
ul li ,ol li{
    display: list-item;
    list-style-position: inside;
  }

 